/*****************************
* header and top-level stuff *
*****************************/
body {
	padding:0;
	margin:0;
	background : #FFFFF0 url(../images/nav.jpg) repeat-y;
	}
	
.header {
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #fff;
    z-index : 50;
	}
	
#logo {
    position : absolute;
    top : 5px;
    left : 5px;
	font-size: 20pt;
	font-weight: bold;
	color: Gold;
	width: 400px;    
	}
	
#logo img {
	width: 32px;
	height: 32px;
	}
	
#logo #Title {
	position: absolute;
	top: 0px;
	left: 40px;
	}
	
#logo #Title A {
	text-decoration:none;
	color: Gold;    
	}
	
#logo #Title A:hover {
	color: White;    
	}
	
#logout {
	position: absolute;
	top: 10px;
	left: 0px;
	width: 100%;
	text-align: center;
	}
	
#logout A {
	font-size: 10pt;
	color: gold;
	font-weight: bold;
	text-decoration:none;
	}

#logout A:hover {
	color: black;
	background-color: Gold;
	}

#webmaster {
    position : absolute;
    top : 8px;
    right : 0;
    text-align : right; /*Mild hack for Netscape 4*/
    /* note: the hack only works on load/re-load; it does not work on re-size */
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:8pt;
	font-weight: bold;
	padding:2px;
	padding-left:10px;
	color: White;
	}

#webmaster A {
	color:Gold;
	text-decoration:none;
	}

#webmaster A:hover {
	background:Gold;
	color:black;
	}

#banner {
	position : absolute;
	top : 0px;
	left : 0px;
	width : 100%;
	height: 44px;
	/*background-image:url(images/banner.gif);
	background-repeat:repeat-x;*/
	background-color: #007777;
	border-bottom: solid 2px #ffffff;
	text-align: center;
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	}
	
#bannerTrim 
{
	position : absolute;
	top : 46px;
	left : 0px;
	width : 100%;
	height: 1px;
	background-color: #000000;
}

.debug {
	position : absolute;
	right: 0;
	bottom: 0;
	font-family: verdana;
	font-size: 7pt;
	color: black;
	}
.debug tr {
	font-family: verdana;
	font-size: 8pt;
	color: black;
	}


/***********************
* Left-side Navigation *
***********************/
/*The navigation on the left side, positioned absolutely*/
#Navigation {
	position : absolute;
	top : 50px;
	left : 5px;
	width : 140px;
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #f0f;
	background-color: transparent;
	/*padding: 5px;
	padding-top: 5px;
	padding-left: 10px;*/
	bottom:0;
    height: 90%;
    }
#Navigation table {
	/*background-color: #c0dcc0;*/
	background-color: #c8e4c8;
	border-width: 1px;
	border-color: #c0dcc0;
	border-style: groove;
	width: 136px;
	text-indent: 2px;
    }
#Navigation table table table {
	border-style: none;
	/*margin-left: 25px;*/
	/*padding-left: 10px;*/
	text-indent: 12px;
    }
#Navigation a {
	font-size:9pt;
	color:black;
	text-decoration:none;
	font-weight:bold;
	line-height: 180%;
	display:block;
	/*width:100%;*/
	width:100%;
	height:100%;
	border-width: 1px;
	/*border-color: #000;*/
	border-style:  groove;
	}
#Navigation a:hover {
	background:gold;
	color:black;
	border-width: 1px;
	border-color: #000;
	border-style: solid;
	}
#Navigation .selected a {
	background-color: #a0b8a0;
	color:gold;
	border-width: 1px;
	border-color: #fff;
	border-style: solid;
	}
#Navigation .selected a:hover {
	background:gold;
	color:black;
	}


/********************
* main content area *
********************/
#content {
	padding-top : 50px;
	padding-bottom : 20px;
	padding-left : 180px;
	padding-right : 20px;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #00A;
	}

#content h1 {
	font-family : "Trebuchet MS", Georgia, Times, serif;
	font-size : 130%;
	font-weight : bold;
	color : #00A;
	background-color : transparent;
	}                     

#content h2 {
	font-family: "Trebuchet MS", Georgia, Times, serif;
	font-size: 115%;
	font-weight: bold;
	font-style: italic;
	color: #00A;
	background-color : transparent;
	}

#content p {
	/*font-family : "Trebuchet MS", Georgia, Times,serif;
	font-size : 80%;
	font-weight : normal;*/
	color : #00A;
	background-color : transparent;
	line-height : 140%;
	}
	
#content #TableOfContents {
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 80%;
	font-weight : normal;
	color : #000;
	background-color: #FFFFF6;
	border: solid 1px #000;
	}

#content #TableOfContents caption {
	text-align: left;
	font-family: "Trebuchet MS", Georgia, Times, serif;
	font-size: 140%;
	font-weight: bold;
	font-style: italic;
	color: #00A;
	}
#content #TableOfContents td {
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 4px;
	padding-bottom: 4px;	
	vertical-align: top;
	}

#content #TableOfContents A {
	color: #66c;
	text-decoration:none;
	font-weight:bold;
	}
	
#content #TableOfContents A:hover {
	color: #000;
	background-color: #aaaad4;
	}
	
#content pre {
	font-family: "Lucida Console" "Courier New" Courier;
	font-size: 8pt;
	color: #000;
	padding: 4px;
	background-color: #fff;
	border: solid 1px #000;
	}
	
/* I don't think the script ID is used */
#script {
    position : absolute;
    top : 12px;
    right : 0;
    text-align : right; /*Mild hack for Netscape 4*/
    /* note: the hack only works on load/re-load; it does not work on re-size */
	}


/************************
* Tennis Master Styling *
************************/

.Data 
{
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    background-color: #ffffff; /*#c0c0ff;*/
    border-color: Black;
	border-width: 1px;
	text-align: left;
}
.LeftAlign
{
	text-align: left;
}
.RightAlign
{
	text-align: right;
}
.Data td
{
    background-color: #e0f0e0;
    border-color: #e0f0e0;
    border-width: 0px;
    vertical-align: middle;
	margin: 0px;
	padding: 0px;
	color: Black;
}
.Data .AltItem td
{
    background-color: #e8f8e8;
}
td.Win {background-color: LightGreen;}
td.Loss {background-color: Pink;}
.Data .AltItem td.Win {background-color: LightGreen;}
.Data .AltItem td.Loss {background-color: Pink;}
/*
In CSS, one could suggest that an A element be rendered as a block, e.g.
&lt;a href="..." style="display:block; width:5em; height:2em"&gt;some text&lt;/a&gt;
Browsers do different things with that. Netscape doesn't do much. Opera
applies the dimensions (and other suggestions), but it's still the text
that acts as the clickable part. And IE 5 seems do what the questioner
wanted: the entire block is clickable. When the link is in a table cell
so that the dimensions of the cell depend on the dimensions of other
cells in the same row and same column, one can use width:100% and
height:100% to suggest that the link text should cover the entire cell
(minus cellpadding).				
*/
.Data a
{
	font-size:8pt;
	color:black;
	text-decoration:none;
	display:block;
	width:100%;
	height:100%;
	border-width: 0px;
	/*border-width: 1px;
	border-style: inset;*/
	border-style: solid;
	border-color: #e0f0e0;
	padding: 3px;
	padding-left: 5px;
	padding-right: 5px;
}
.Data td a:hover
{
	background-color:Orange;
	color:black;
	border-width: 0px;
	border-color: #000000;
	border-style: solid;
}

.DataHeader
{
	border: solid 1px black;
	text-align: center;
	color: Red;
    /*color: white;
    background-color: #007050; /* banner color: #007f7f 
    font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 10pt;
	text-align: center;
    background-color: #007050; /* banner color: #007f7f 
    font-weight: bold;
	color: White;*/
}
.xDataHeader td a
{
    /*background-color: #e0f0e0;*/
	color: white;
	border-color: #007050;
	background-color: Black;
}
.DataHeader a
{
	color: Red;
	font-size:8pt;
	color:black;
	text-decoration:none;
	display:block;
	width:100%;
	height:100%;
	border-width: 0px;
	/*border-width: 1px;
	border-style: inset;*/
	border-style: solid;
	border-color: #e0f0e0;
	padding: 0px;
	/*padding-left: 5px;
	padding-right: 5px;*/
}
.DataHeader a:hover
{
	background-color:Orange;
	color:black;
	border-width: 0px;
	border-color: #000000;
	border-style: solid;
}

.Dialog 
{
	font-size:10pt;
	color:Black;
	background-color:#EAEAFF;
    border-color:Black;
    border-width:1;
    border-style:solid;
	vertical-align:top;
}
.Dialog TD
{
    padding:1;
	vertical-align:top;
}
.Dialog caption
{
    FONT-SIZE: 16pt;
    font-weight:bold;
}


.refresh a
{
	text-decoration: none;
	font-size: 9pt;
	color: #c0c0ff;
}

.refresh a:hover
{
	color: Blue;
}