<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
	</configSections>
	<dataConfiguration defaultDatabase="Tennis"/>
	<connectionStrings>
		<add name="Tennis" connectionString="integrated security=SSPI;data source=(local)\sqlexpress;initial catalog=Tennis;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
</configuration>
