<?xml version="1.0" encoding="utf-8" ?>
<log4net>
	<!-- Set root logger level to DEBUG and its only appender to A1 -->
	<root>
		<level value="DEBUG" />
		<appender-ref ref="FileAppender" />
		<appender-ref ref="TraceAppender" />
	</root>
    <logger name="Csla">
        <level value="info"/>
    </logger>
    <logger name="Library.Rules.RulesFactory">
        <level value="debug"/>
    </logger>
	<appender name="FileAppender" type="log4net.Appender.FileAppender">
		<file value="tennis.log" />
		<appendToFile value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} [%t] %-5p> %m%n" />
		</layout>
	</appender>
	<appender name="FileAppenderOld" type="log4net.Appender.FileAppender">
		<file value="tennis.log" />
		<appendToFile value="true" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} [%t] %-5p> {%c}: %m%n" />
		</layout>
	</appender>
	<appender name="TraceAppender" type="log4net.Appender.TraceAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} [%t] %-5p> {%c} %m%n" />
		</layout>
	</appender>
	<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} [%t] %-5p> {%c} %m%n" />
		</layout>
	</appender>
	<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
		<file value="rolling.log." />
		<appendToFile value="true" />
		<datePattern value="yyyyMMdd-HHmm" />
		<rollingStyle value="Date" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} [%t] %-5p> {%c} %m%n" />
		</layout>
	</appender>
</log4net>
