<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <!-- work:localhost  home:192.168.1.2 -->
        <add name="Tennis" providerName="System.Data.SqlClient" 
            connectionString="integrated security=SSPI;data source=bahnsserver;initial catalog=Tennis;" />
    </connectionStrings>
    <appSettings>
        <!-- The data providers, used in the Core Data assembly -->
        <add key="HelperAssembly" value="GotDotNet.ApplicationBlocks.Data"></add>
        <add key="HelperType" value="GotDotNet.ApplicationBlocks.Data.SqlServer"></add>
    </appSettings>
</configuration>